body {
    margin: 0;
}
 
#main_title {
    text-align:center;
    color:white;
    background-color:black;
    padding: 30px;
    margin: 0;
}
 
.sub_title {
    text-align: center;
    background-color: LightGrey;
    color: white;
    padding: 15px;
    margin: 0;
}
 
.sub_detail {
    text-align: center;
    min-height: 250px;
    width: 720px;
    margin: 0 auto;
    padding: 20px 0; /* ここを追加 */
}
 
#icon_img {
    width: 300px;
    height: 300px;
    float: left;
}
 
#name {
    width: 420px;
    height: 300px;
    float: left;
}
 
.label {
    text-align: center;
    width: 100px;
    background-color: #ffdb5d;
    color: white;
    font-size: 15px;
    padding: 10px;
    margin: 0px;
    border-radius: 5px;
}
 
#name > .label {
    margin-left: 20px;
}
 
/* ここを追加 */
.name_content {
    text-align: center;
    margin:20px 0;
}
 
#comment {
    clear: both;
}
 
/* ここを追加 */
.work_content {
    margin: 20px 50px;
}

.photoes_area {
    margin: 0;
    padding: 0;
}

.left_photo {
    margin: 9px 9px 0 0;
}

.center_photo {
    margin: 9px 9px 0 0;
}

.right_photo {
    margin: 9px 0 0 0;
}

#photo1:hover {
    transform: scale(1.1, 1.1);
}

#photo2:hover {
    transform: rotate(10deg);
}

#photo3:hover {
    transform:rotateX(50deg);
}

#photo4:hover {   
    opacity:0.3;
}

#photo5:hover {   
    position:relative;
    top:3px;
    left:3px;
}

#photo6:hover {   
    position:relative;
    bottom:3px;
    left:3px;;
}

#photo7:hover {   
    animation: anime07 1s ease 0s infinite alternate;
}

@keyframes anime07 {
    0%{transform:rotate(0deg);}
    30%{transform: rotate(-90deg);}
    100%{transform:rotate(360deg);}
}

#photo8:hover {   
    animation: anime08 2s ease 0s infinite normal;
}

@keyframes anime08 {
    0%{transform:translateX(0px);}
    12.5%{transform:translateX(20px);}
    37.5%{transform:translateX(-20px);}
    50%{transform:translateX(0px);}
    100%{transform:rotateY(360deg);}
}

#photo9:hover {   
    animation: anime09 1s ease 0s infinite normal;
}

@keyframes anime09 {
    0%{transform:rotateX(0deg);}
    100%{transform:rotateX(360deg);}
}