body {
    margin: 0;
}
 
#main_title {
    text-align:center;
    color:white;
    background-color:black;
    padding: 30px;
    margin: 0;
}
 
.sub_title {
    text-align: center;
    background-color: LightGrey;
    color: white;
    padding: 15px;
    margin: 0;
}
 
.sub_detail {
    text-align: center;
    min-height: 250px;
    width: 720px;
    margin: 0 auto;
    padding: 20px 0; /* ここを追加 */
}
 
#icon_img {
    width: 300px;
    height: 300px;
    float: left;
}
 
#name {
    width: 420px;
    height: 300px;
    float: left;
}
 
.label {
    text-align: center;
    width: 100px;
    background-color: #ffdb5d;
    color: white;
    font-size: 15px;
    padding: 10px;
    margin: 0px;
    border-radius: 5px;
}
 
#name > .label {
    margin-left: 20px;
}
 
/* ここを追加 */
.name_content {
    text-align: center;
    margin:20px 0;
}
 
#comment {
    clear: both;
}
 
/* ここを追加 */
.work_content {
    margin: 20px 50px;
}